@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap");

body {
  margin: 0;
  background-color: #1f8a70;
}
a {
  text-decoration: none;
}
header {
  background-color: #fc7300;
}

nav {
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
  gap: 3px;
  justify-content: center;
}
.menu {
  padding: 5px;
  background-color: #eff5f5;
  color: #181823;
  height: 24px;
  text-decoration: none;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 8px 8px 22px #181823;
  font-family: Belanosima, serif;
  font-weight: 600;
  font-size: 1em;
}
.menu:hover {
  background-color: #00425a;
  color: #eff5f5;
  box-shadow: 5px 5px 16px #1f8a70;
}

.logo {
  position: relative;
}
.texto_formulario {
  position: absolute;
  top: 15px;
  left: 0;
  background-color: #eff5f5;
  padding: 4px;
  opacity: 0;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 0.5em;
  color: #181823;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 8px 8px 22px #181823;
}

.texto_formulario:hover {
  opacity: 1;
  transition: opacity 0.5s;
}
.titulo {
  position: relative;
  display: inline-block;
  text-align: center;
}
.escuela {
  max-width: 100%;
}
.titulo_1 {
  position: absolute;
  top: -20px;
  left: 20px;
  font-family: Poppins, sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  color: #eff5f5;
  text-shadow: 11px 2px 21px #1f8a70;
  -webkit-text-stroke: #00425a 1px;
}
.titulo_2 {
  position: absolute;
  font-family: Poppins, sans-serif;
  font-size: 0.5em;
  font-weight: 300;
  font-style: italic;
  color: #eff5f5;
  top: 66px;
  left: 118px;
  text-shadow: 3px 2px 5px #181823;
}
.container_grid {
  display: grid;
  grid-template-columns: 1fr;
  padding: 5px;
  gap: 20px;
}
.principal {
  margin: 0;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-radius: 40px 40px 45px 45px;
  background-color: #eff5f5;
  box-shadow: 15px 5px 10px #00425a;
  text-align: center;
}
.principal p {
  margin: 5px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 0.8em;
}
#Nosotros {
  margin: 5px;
  font-family: Belanosima, serif;
  font-weight: 600;
  font-size: 1.5em;
  color: #181823;
  text-align: center;
}
#Eleccion {
  margin: 5px;
  font-family: Belanosima, serif;
  font-weight: 600;
  font-size: 1.5em;
  color: #181823;
  text-align: center;
}
#Propuesta {
  margin: 5px;
  font-family: Belanosima, serif;
  font-weight: 600;
  font-size: 1.5em;
  color: #181823;
  text-align: center;
}
.principal--05 {
  margin: 0;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-radius: 40px 40px 45px 45px;
  border-color: #181823;
  background-color: #eff5f5;
  box-shadow: 15px 5px 10px #00425a;
}
ol {
  padding-left: 10px;
  margin: 5px;
}
.actividades {
  list-style-position: inside;
  list-style-image: url(../images/libro-abierto.png);
  margin: 5px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 0.8em;
}
#Noticias {
  margin: 5px;
  font-family: Belanosima, serif;
  font-weight: 600;
  font-size: 1.5em;
  color: #181823;
  text-align: center;
}
.principal--02 {
  display: none;
}
.principal--04 {
  display: none;
}
.principal--06 {
  display: none;
}
.principal--07 {
  display: none;
}
.principal--08 {
  display: none;
}
.container_grid_2 {
  background-color: #fc7300;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  justify-content: space-between;
  height: 300px;
}
.redes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 15px;
  gap: 20px;
  align-items: center;
}
.cambio_de_logo {
  position: relative;
}
.cambio_de_logo a {
  position: absolute;
  top: -30px;
  left: -45px;
  transition: opacity 0.3s ease-in-out;
}
.cambio_de_logo a.top:hover {
  top: -30px;
  left: -45px;
  opacity: 0;
}

.mapa {
  display: none;
}
#colegio_Untrefschool {
  display: block;
  margin: 0;
}
.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: max-content;
  justify-content: space-evenly;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 2px;
  border-radius: 30px 30px 25px 25px;
  background-color: #eff5f5;
}
.contacto h2 {
  font-family: Belanosima, serif;
  font-weight: 700;
  font-size: 1em;
  text-align: center;
}
.contacto h3 {
  font-family: Belanosima, serif;
  font-weight: 600;
  font-size: 1em;
  text-align: center;
  margin: 0;
  color: #00425a;
}
.enlaces {
  font-family: Belanosima, serif;
  font-weight: 600;
  font-size: 1em;
  text-align: center;
}
.enlaces:link {
  color: #00425a;
}
.enlaces:visited {
  color: #00425a;
}
.staff {
  display: none;
}

@media screen and (min-width: 768px) {
  nav {
    display: flex;
    flex-wrap: nowrap;
    padding: 5px;
    gap: 11px;
    justify-content: space-between;
  }
  .texto_formulario {
    top: 10px;
    font-size: 1em;
  }
  .titulo_1 {
    position: absolute;
    top: 20px;
    left: 80px;
    font-size: 3em;
  }
  .titulo_2 {
    position: absolute;
    font-size: 1em;
    top: 166px;
    left: 270px;
  }
  .container_grid {
    gap: 10px;
  }
  .chicos {
    width: 100%;
    display: block;
    border-radius: 40px 40px 45px 45px;
  }
  .principal--02 {
    width: 50%;
    display: inline;
    padding-top: 10px;
    justify-self: center;
  }
  .principal--04 {
    width: 40%;
    display: inline;
    padding-top: 10px;
    justify-self: center;
  }
  .principal--06 {
    width: 50%;
    display: inline;
    padding-top: 10px;
    justify-self: center;
  }
  .principal--07 {
    display: block;
  }
  .flexbox_noticias {
    display: flex;
    justify-content: space-around;
    padding-left: 10px;
    margin: 5px;
  }
  .noticias {
    list-style-position: inside;
    list-style-image: url(../images/lapiz.png);
    margin: 5px;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    text-align: start;
  }
  .principal--08 {
    display: inline;
    width: 50%;
    padding-top: 10px;
    justify-self: center;
  }
  .container_grid_2 {
    grid-template-columns: 1fr 270px 1fr;
    height: max-content;
    padding-bottom: 5px;
  }
  #colegio_Untrefschool {
    display: none;
  }
  .mapa {
    display: block;
    text-align: center;
  }
  .mapa h2 {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    margin: 0;
    text-shadow: 11px 2px 21px #1f8a70;
  }
  .enlaces {
    font-size: 1.5em;
  }
  .contacto h3 {
    font-size: 1.5em;
  }
  .staff {
    display: block;
    margin: 0;
    font-family: Poppins, sans-serif;
    font-style: italic;
    font-size: 1em;
    grid-column: 1/4;
    justify-self: center;
  }
}
@media screen and (min-width: 1024px) {
  body {
    margin: auto;
    width: 1024px;
    background-color: #eff5f5;
  }
  main {
    background-color: #1f8a70;
  }
  .titulo_1 {
    position: absolute;
    top: 20px;
    left: 80px;
    font-size: 3.5em;
  }
  .titulo_2 {
    position: absolute;
    font-size: 1.8em;
    top: 166px;
    left: 270px;
  }
  .container_grid_2 {
    grid-template-columns: 1fr 400px 1fr;
    height: max-content;
  }
}

@media screen and (min-width: 1440px) {
  body {
    margin: auto;
    width: 1440px;
    background-color: #eff5f5;
  }
  main {
    background-color: #1f8a70;
    border: #00425a solid 1px;
  }
  .escuela {
    width: 1440px;
  }
  .titulo_1 {
    position: absolute;
    top: 20px;
    left: 150px;
    font-size: 6em;
  }
  .titulo_2 {
    position: absolute;
    font-size: 2em;
    top: 320px;
    left: 527px;
  }
  .container_grid {
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
  }

  .principal--03 {
    order: 3;
  }
  .principal--03 p {
    line-height: 2rem;
  }
  .principal--04 {
    order: 5;
    width: 50%;
    display: inline;
    padding-top: 10px;
    justify-self: center;
  }
  .principal--05 {
    order: 4;
  }
  .principal--06 {
    order: 2;
    width: 60%;
    display: inline;
    padding-top: 10px;
    justify-self: center;
  }
  .principal--07 {
    order: 7;
  }
  .principal--08 {
    order: 6;
    display: inline;
    width: 65%;
    padding-top: 10px;
    justify-self: center;
  }
  .principal p {
    font-size: 1.2em;
  }
  .actividades {
    font-size: 1.2em;
  }
  .noticias {
    font-size: 1.2em;
  }
  .contacto {
    justify-self: center;
  }
}
